<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>余额变动 - {$siteName}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/layuiadmin/style/admin.css" media="all">
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">余额变动</div>
                <div class="layui-card-body">
                    <form class="layui-form" action="" lay-filter="component-form-element">
                        <div class="layui-form-item">
                            <label class="layui-form-label">变动账户：</label>
                            <div class="layui-input-block">
                                <select name="id" lay-verify="required" lay-search>
                                    <option value="">请搜索/选择用户名</option>
                                    {volist name="users" id="vo"}
                                    <option value="{$vo.id}">{$vo.username}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">变动金额：</label>
                            <div class="layui-input-block">
                                <input type="text" name="money" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">变动操作：</label>
                            <div class="layui-input-block">
                                <input type="radio" name="do" value="add" title="加款" checked>
                                <input type="radio" name="do" value="dec" title="扣款">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="component-form-element">提交</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '/static/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form'], function(){
        var $ = layui.$
            ,admin = layui.admin
            ,form = layui.form;
        form.render();
        form.on('submit(component-form-element)', function(data){
            //请求接口
            admin.req({
                url: '/admin/main/recharge'
                , method: 'POST'
                , data: data.field
                , done: function (res) {
                    layer.msg(res.msg,{icon:1});
                }
            });
            return false;
        });
    });
</script>
</body>
</html>